/*==================================================

            ψuuκï Codes
            Hikari 01

==================================================*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Outfit:wght@300;400;500;600&display=swap');

.yk-hikari{
    width:390px;
    margin:25px auto 8px;
    background:var(--fondo3);
    border-left:3px solid var(--grupo-color);
    padding:32px;
    box-sizing:border-box;
    color:var(--textobase);
    font-family:'Outfit',sans-serif;
}

.yk-hikari *{
    box-sizing:border-box;
}

/* TÍTULO */

.yk-h-title{
    font-family:'Cormorant Garamond',serif;
    font-size:30px;
    line-height:1.1;
    color:var(--grupo-color);
    text-align:center;
    margin-bottom:18px;
}

/* DETALLE */

.yk-h-divider{
    text-align:center;
    font-size:10px;
    letter-spacing:8px;
    color:var(--grupo-color);
    margin-bottom:25px;
}

.yk-h-divider:before{
    content:"────────";
    letter-spacing:2px;
}

.yk-h-divider:after{
    content:"────────";
    letter-spacing:2px;
}

/* TEXTO */

.yk-h-text{
    font-size:12px;
    line-height:2;
    text-align:justify;
    color:var(--textobase);
}

.yk-h-text b,
.yk-h-text strong{
    color:var(--grupo-color);
    font-weight:600;
}

/* LÍNEA */

.yk-h-line{
    width:100%;
    height:1px;
    background:var(--borde2);
    margin:28px 0 16px;
}

/* FOOTER */

.yk-h-footer{
    text-align:center;
    font-size:8px;
    letter-spacing:2px;
    text-transform:uppercase;
    color:var(--textobase);
}

.yk-h-footer span{
    color:var(--grupo-color);
    margin:0 5px;
}

/* FIRMA */

.yk-h-credit{
    width:390px;
    margin:0 auto 18px;
    text-align:right;
    font-size:8px;
    letter-spacing:4px;
    text-transform:uppercase;
    font-family:'Outfit',sans-serif;
    opacity:.7;
}

.yk-h-credit a{
    color:var(--grupo-color);
    text-decoration:none;
}
.yk-hikari{
    background:red!important;
}
