.yk-post01{
    width:400px;
    margin:0 auto;
    background:var(--fondo3);
    border:var(--borde2);
}

.yk-post01 .header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    background:var(--fondo2);
    border-bottom:var(--borde1);
}

.yk-post01 .title{
    text-transform:uppercase;
    font-size:10px;
    font-weight:800;
    letter-spacing:1px;
    color:var(--grupo-color);
    border:var(--borde1);
    border-radius:5px;
    padding:5px 12px;
    background:var(--fondo3);
}

.yk-post01 .icon{
    color:var(--grupo-color);
    font-size:18px;
}

.yk-post01 .content{
    background:var(--fondo5);
    padding:25px;
    border-top:var(--borde1);
    border-bottom:var(--borde1);
    font-size:11px;
    line-height:1.8;
    text-align:justify;
}

.yk-post01 .footer{
    padding:8px 15px;
    display:flex;
    justify-content:space-between;
    font-size:8px;
    text-transform:uppercase;
    letter-spacing:1px;
    color:#888;
}

.yk-post01 .credit{
    text-align:right;
    padding:0 15px 10px;
    font-size:8px;
    letter-spacing:2px;
}

.yk-post01 .credit a{
    color:var(--grupo-color);
    text-decoration:none;
}
