<link rel="stylesheet" href="https://yuukicm.github.io/Yuuki/css/editorial02.css"><!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./style.css">

</head>

<body>

    <div class="ed02">

        <div class="ed02-title">

    <span class="quote">»</span>

    <span class="text">TÍTULO</span>

    <span class="quote">«</span>

</div>

        <div class="ed02-divider"></div>

        <div class="ed02-content">
            POST DE ROL
        </div>

        <div class="ed02-divider"></div>

        <div class="ed02-footer">

    <span>LUGAR</span>

    <span class="sep">»</span>

    <span>FECHA</span>

    <span class="sep">»</span>

    <span>CON QUIÉN</span>

</div>

    </div>

</body>

</html>
